

section {
    padding: 3rem 8%;
}

.box-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 5rem;
}

.box-container .box {
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 30%) 10px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.box-container .box .image {
    height: 15rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* transition */
    transition: all ease-in-out 1s;
}

.box-container .box .image img:hover {
    transform: scale(1.2);
}

.box-container .box .info {
    padding: 0 3%;
    margin: 0.8rem;
    
}

.box-container .box .info h4 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.box-container .box .info h5 {
    color: rgb(182, 176, 176);
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0.3rem;
}

.box-container .box .info mark {
    color: black;
    padding: 2px;
    border-radius: 3px;
}

.box-container .box .info p {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.2;
    height: 4rem;
    overflow: auto;
    /*overflow: hidden;*/
}

.box-container .box .info span {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    color: black;
    font-style: italic;
    font-size: 1.5rem;
}

.box-container .box .info span s {
    color: red;
    font-size: 1rem;
}

.box-container .box .info .stars .checked {
    color: rgb(0, 225, 255) !important;
}

.box-container .box .info .stars .unchecked {
    color: white !important;
}

.box-container .box .btn {
    text-align: center;
    padding: 0 3%;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.box-container .box .btn a {
    text-decoration: none;
    color: rgb(145, 109, 109);
    font-size: 2rem;
    border: 2px solid rgb(136, 132, 132);
    border-radius: 6px;
    padding: 0.5rem 2rem;
    text-align: center;
    font-variant: small-caps;
    font-weight: 700;
    transition: all ease-in-out .6s;
}

.box-container .box .btn a:hover {
    color: black;
    border: 2px solid rgb(214, 131, 131);
    background-color: #fff;
}

